$primary-color: #e50914;
$bg-color: #121212;
$card-bg: #fff; // White card for ticket look
$text-color-dark: #333;

.ticket-page-container {
    padding: 30px;
    background-color: $bg-color;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.ticket-card {
    background-color: $card-bg;
    color: $text-color-dark;
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    padding: 30px;
    text-align: center;
}

.header {
    margin-bottom: 20px;

    p {
        color: $primary-color;
        font-weight: bold;
        letter-spacing: 1px;
        margin-bottom: 5px;
    }

    h1 {
        font-size: 1.8em;
        margin: 0;
    }
}

.details-section {
    display: flex;
    // justify-content: space-between;
    padding: 15px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.detail-row {
    flex: 1;
    text-align: left;

    &:last-child {
        text-align: right;
    }

    p {
        font-size: 0.8em;
        margin: 0;
        color: #777;
    }

    span {
        font-size: 1em;
        font-weight: 600;
        color: $text-color-dark;
    }
}

.ticket-break {
    border-top: 2px dashed #bbb;
    margin: 20px 0;
}

.venue-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;
    text-align: left;

    .detail-block {
        flex: 1;

        &:last-child{
            text-align: right;
        }

        h4 {
            color: #777;
            font-size: 0.9em;
            margin-bottom: 5px;
        }

        .main-info {
            font-weight: bold;
            font-size: 1.1em;
            margin: 0;

            &.seats-list {
                color: $primary-color;
            }
        }

        .sub-info {
            font-size: 0.9em;
            color: #555;
            margin: 0;
        }
    }
}

.qr-section {
    padding: 20px 0;
    border-top: 1px solid #ddd;

    .qr-code-box {
        background-color: #eee;
        padding: 10px;
        border-radius: 4px;

        p {
            font-size: 0.7em;
            margin: 0 0 5px 0;
            color: #777;
        }
    }

    .mock-qr {
        width: 100px;
        height: 100px;
        background-color: #333;
        margin: 0 auto;
        border-radius: 2px;
    }

    .qr-info {
        margin-top: 15px;
        font-style: italic;
        color: #555;
    }
}

.download-button{
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover{
        background-color: $primary-color;
    }
}

.loading-message{
    padding: 50px;
    color: #ccc;
}