$primary-color: #e50914; 
$bg-color: #121212;      
$card-bg: #1e1e1e;       
$text-color: #f1f1f1;

.auth-page-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 55px);
    background-color: $bg-color;
    padding: 30px 20px;
}

.register-card{
    background-color: $card-bg;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 450px;
    text-align: center;
    color: $text-color;

    h1{
        color: white;
        margin-bottom: 5px;
        font-size: 2em;
    }

    p{
        color: #aaa;
        margin-bottom: 25px;
    }

}

.register-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group{
    text-align: left;
    display: flex;
    flex-direction: column;

    label{
        display: block;
        margin-bottom: 8px;
        font-weight: 600;
        color: #ccc;
    }

    input{
        padding: 12px;
        background-color: #2a2a2a;
        border:  1px solid #444;
        border-radius: 4px;
        color: $text-color;
        font-size: 1em;
        transition: border-color 0.2s;

        &:focus{
            outline: none;
            border-color: $primary-color;
            box-shadow: 0 0 5px rgba($primary-color, 0.5);
        }
    }
}


.register-button{
    padding: 12px 20px;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 10px;

    &:hover{
        background-color: darken($primary-color, 8%);
    }
}

.auth-footer{
    margin-top: 25px;
    font-size: 0.9em;

    a {
        color: $primary-color;
        text-decoration: none;
        font-weight: bold;

        &:hover {
            text-decoration: underline;
        }
    }
}