<footer class="app-footer">
  <div class="footer-content">
    <div class="footer-section">
      <h4>Movie booker</h4>
      <p>Your hassle-free ticket booking platform.</p>
    </div>

    <div class="footer-section links">
      <h4>Quick Links</h4>
      <a href="/movies">Home</a>
      <a href="/contact">Contact</a>
      <a href="/about">About Us</a>
    </div>

    <div class="footer-section social">
      <h4>Follow Us</h4>
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </div>
  </div>

  <div class="copyright">
    &copy; {{ currentYear }} Movie Booker App. All rights reserved.
  </div>
</footer>
